<ng-container *ngIf="auth.user$ | async as user; else notLogged">

  <!-- ADD TODO -->
  <div class="top-bar">
    <input
      class="glass-input"
      [(ngModel)]="newTitle"
      placeholder="Task title..."
    />
    <textarea
      class="glass-input"
      [(ngModel)]="newDescription"
      placeholder="Task description..."
    ></textarea>
    <button (click)="addTodo()">Add</button>
  </div>

  <!-- BOARD -->
  <div class="board">
    <!-- 🟡 NOT STARTED -->
    <div
      class="column"
      cdkDropList
      id="notStartedList"
      *ngIf="(notStarted$ | async) as notStarted"
      [cdkDropListData]="notStarted"
      [cdkDropListConnectedTo]="['inProgressList']"
      (cdkDropListDropped)="drop($event)"
      >
      <h3>Not Started</h3>
        <div class="empty-column" *ngIf="notStartedCount === 0">
           Drop tasks here
        </div>
      <div
        class="todo-card"
        *ngFor="let todo of notStarted$ | async"
        cdkDrag
        [cdkDragData]="todo"
        (cdkDragStarted)="dragStarted(todo)"
        (cdkDragEnded)="dragEnded()"
      >

        <!-- EDIT MODE -->
         <div class="edit-field">
           <div *ngIf="editingId === todo.id; else viewModeLeft">
             <input class="glass-input" [(ngModel)]="editedTitle" />
             <input class="glass-input" [(ngModel)]="editedDescription" />
             <button (click)="saveEdit(todo.id)">Save</button>
             <button (click)="cancelEdit()">Cancel</button>
            </div>
          </div>

        <!-- VIEW MODE -->
        <ng-template #viewModeLeft>
          <h4>{{ todo.title }}</h4>

            <p class="description">
              {{ todo.description }}
            </p>
            
            <p class="date">
              Added:
              {{ todo.createdAt?.toDate() | date:'medium' }}
            </p>

          <button class="done-btn" (click)="startTask(todo.id)">▶ Start</button>
          <button (click)="openDetails(todo)">Details</button>
          <button class="edit-btn" (click)="startEdit(todo)">✏️ Edit</button>
          <button class="delete-btn" (click)="deleteTodo(todo.id)">🗑️ Delete</button>
        </ng-template>

      </div>
    </div>

    <!-- 🔵 IN PROGRESS -->
    <div
      class="column"
      cdkDropList
      id="inProgressList"
      *ngIf="(inProgress$ | async) as inProgress"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="['notStartedList', 'completedList']"
      (cdkDropListDropped)="drop($event)"
      >
      <h3>In Progress</h3>
      <div class="empty-column" *ngIf="inProgressCount === 0">
        Drop tasks here
      </div>
      <div
        class="todo-card"
        *ngFor="let todo of inProgress$ | async"
        cdkDrag
        [cdkDragData]="todo"
        (cdkDragStarted)="dragStarted(todo)"
        (cdkDragEnded)="dragEnded()"
      >

        <!-- EDIT MODE -->
         <div class="edit-field">
           <div *ngIf="editingId === todo.id; else viewModeRight">
             <input class="glass-input" [(ngModel)]="editedTitle" />
             <input class="glass-input" [(ngModel)]="editedDescription" />
             <button class="done-btn" (click)="saveEdit(todo.id)">Save</button>
             <button class="delete-btn" (click)="cancelEdit()">Cancel</button>
            </div>
          </div>

        <!-- VIEW MODE -->
        <ng-template #viewModeRight>
          <p>{{ todo.title }}</p>

           <p class="description">
              {{ todo.description }}
            </p>

            <p class="date">
              Added:
              {{ todo.createdAt?.toDate() | date:'medium' }}
            </p>
            <p class="date">
              Started:
              {{ todo.startedAt?.toDate() | date:'medium' }}
            </p>
          <button class="done-btn" (click)="completeTodo(todo.id)">✔ Done</button>
          <button (click)="moveToNotStarted(todo.id)">↩ Back</button>
          <button class="edit-btn" (click)="startEdit(todo)">✏️ Edit</button>
          <button (click)="openDetails(todo)">Details</button>
          <button class="delete-btn" (click)="deleteTodo(todo.id)">🗑️ Delete</button>
        </ng-template>

      </div>
    </div>

  </div>

</ng-container>

<!-- NOT LOGGED -->
<ng-template #notLogged>
  <div class="auth-warning">
    <h2>Please log in</h2>
    <p>
      Please login to view your todo list or register if you don’t have an account yet.
    </p>

    <button routerLink="/login">Login</button>
    <button routerLink="/register">Register</button>
  </div>
</ng-template>