.add-todo-wrapper {
  display: flex;
  justify-content: center;

  margin-top: 0.9rem;
}

.add-open-btn {
  padding: 0.8rem 1rem;

  font-size: 1rem;
  font-weight: 600;
}

.glass-input {
  padding: 0.8rem 1rem;
  width: 90%;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);

  border-radius: 12px;

  color: white;
  font-size: 1rem;
  text-align: center;

  outline: none;

  backdrop-filter: blur(8px);

  box-shadow:
    inset 0 1px 2px rgba(255,255,255,0.05),
    0 4px 12px rgba(0,0,0,0.2);

  transition: 0.2s ease;
}

.glass-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.glass-input:focus {
  border-color: rgba(255, 255, 255, 0.35);

  box-shadow:
    0 0 0 3px rgba(255,255,255,0.08),
    0 6px 16px rgba(0,0,0,0.25);
}

.edit-field input {
  margin-bottom: 1rem;

}

.empty-column {
  min-height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px dashed rgba(255,255,255,0.2);
  border-radius: 12px;

  color: rgba(255,255,255,0.5);

  margin-top: 1rem;
}

.board {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  gap: 2rem;

  padding: 2rem;

  width: 100%;

  flex-wrap: wrap;
}

.column {
  width: 280px;
  min-height: 500px;

  flex-shrink: 0;

  border-radius: 18px;
  padding: 1rem;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);

  box-shadow: 0 10px 30px rgba(0,0,0,0.25);

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

h3 {
  text-align: center;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.description {
  opacity: 0.85;
  margin-bottom: 1rem;
}

.date {
  font-size: 0.85rem;
  opacity: 0.7;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  min-height: 90px;

  resize: vertical;

  padding: 1rem;

  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.15);

  background: rgba(255,255,255,0.08);

  color: white;

  margin-top: 1rem;
}

/* TODO CARD */
.todo-card {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;

  box-shadow:
    0 6px 15px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  transition: all 0.2s ease;
}

.todo-card:hover {
  transform: translateY(-4px);
  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.todo-card p {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  word-break: break-word;
}

.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modal {
  width: 70%;
  max-width: 900px;

  padding: 2rem;
  border-radius: 24px;

  background: rgba(30,30,30,0.95);

  text-align: center;
  color: white;

  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}

.add-modal {
  width: 500px;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.add-modal textarea {
  min-height: 140px;
}

.add-btn {
  padding: 0.8rem;
  align-self: center;
  width: 35%;
}


.modal-header {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1.5rem;
}

.close-btn {
  width: 32px;
  height: 32px;

  position: absolute;
  right: 0;

  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9rem;

  border-radius: 8px;

  background: #d63031;
}

.close-btn:hover {
  background: #ff4d4f;
}

button {
  margin-right: 0.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #e1880c;
  color: white;
  font-weight: 500;

  transition: 0.2s;
}

button:hover {
  background: #ffa600;
}

.done-btn {
  background: #1faa59;
}

.done-btn:hover {
  background: #28c76f;
}

.delete-btn {
  background: #d63031;
}

.delete-btn:hover {
  background: #ff4d4f;
}

.edit-btn {
  background: #3498db;
}

.edit-btn:hover {
  background: #4aa8e8;
}

.cdk-drag-preview {
  border-radius: 14px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.35);

  transform: rotate(2deg);

  opacity: 0.95;
}

.cdk-drag-placeholder {
  opacity: 0.25;
}

.cdk-drop-list-dragging .todo-card {
  transition: transform 0.2s;
}

.column.cdk-drop-list-receiving {
  outline: 2px dashed rgba(255,255,255,0.3);
}

.complete-drop {
  border: 2px dashed rgba(0, 255, 100, 0.35);

  background: rgba(0, 255, 100, 0.05);
}

.complete-zone {
  min-height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-weight: bold;

  color: #5cff89;
}

.complete-drop {
  opacity: 0;
  pointer-events: none;
  transform: translateX(20px);
  transition: all 0.2s ease;
  width: 0;
  overflow: hidden;
}

.complete-drop.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  width: 280px;
}

.hidden-drop {
  opacity: 0;
  display: none;

  visibility: hidden;

  pointer-events: none;

  transform: scale(0.95);

  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s ease;
}

.hidden-drop.visible {
  opacity: 1;
  display: block;

  visibility: visible;

  pointer-events: auto;

  transform: scale(1);
}

.auth-warning {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center; // vertical center
  align-items: center;     // horizontal center
  text-align: center;
  gap: 1rem;
}