<ng-container *ngIf="auth.user$ | async as user; else notLogged">

  <!-- ADD TODO -->
  <div class="top-bar">
    <input class="glass-input" [(ngModel)]="newTodo" placeholder="New task..." />
    <button (click)="addTodo()">Add</button>
  </div>

  <!-- BOARD -->
  <div class="board">

    <!-- 🟡 NOT STARTED -->
    <div class="column">
      <h3>Not Started</h3>

      <div class="todo-card" *ngFor="let todo of notStarted$ | async">

        <!-- EDIT MODE -->
         <div class="edit-field">
           <div *ngIf="editingId === todo.id; else viewModeLeft">
             <input class="glass-input" [(ngModel)]="editedText" />
             <button (click)="saveEdit(todo.id)">Save</button>
             <button (click)="cancelEdit()">Cancel</button>
            </div>
          </div>

        <!-- VIEW MODE -->
        <ng-template #viewModeLeft>
          <p>{{ todo.text }}</p>

          <button class="done-btn" (click)="startTask(todo.id)">▶ Start</button>
          <button (click)="startEdit(todo)">✏️ Edit</button>
          <button class="delete-btn" (click)="deleteTodo(todo.id)">🗑️ Delete</button>
        </ng-template>

      </div>
    </div>

    <!-- 🔵 IN PROGRESS -->
    <div class="column">
      <h3>In Progress</h3>

      <div class="todo-card" *ngFor="let todo of inProgress$ | async">

        <!-- EDIT MODE -->
         <div class="edit-field">
           <div *ngIf="editingId === todo.id; else viewModeRight">
             <input class="glass-input" [(ngModel)]="editedText" />
             <button class="done-btn" (click)="saveEdit(todo.id)">Save</button>
             <button class="delete-btn" (click)="cancelEdit()">Cancel</button>
            </div>
          </div>

        <!-- VIEW MODE -->
        <ng-template #viewModeRight>
          <p>{{ todo.text }}</p>
          <button class="done-btn" (click)="completeTodo(todo.id)">✔ Done</button>
          <button (click)="moveToNotStarted(todo.id)">↩ Back</button>
          <button (click)="startEdit(todo)">✏️ Edit</button>
          <button class="delete-btn" (click)="deleteTodo(todo.id)">🗑️ Delete</button>
        </ng-template>

      </div>
    </div>

  </div>

</ng-container>

<!-- NOT LOGGED -->
<ng-template #notLogged>
  <div class="auth-warning">
    <h2>Please log in</h2>
    <p>
      Please login to view your todo list or register if you don’t have an account yet.
    </p>

    <button routerLink="/login">Login</button>
    <button routerLink="/register">Register</button>
  </div>
</ng-template>