.top-bar {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 1rem;

  margin: 1.5rem auto;

  width: 400px;
}

.glass-input {
  padding: 0.8rem 1rem;
  width: 100%;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);

  border-radius: 12px;

  color: white;
  font-size: 1rem;

  outline: none;

  backdrop-filter: blur(8px);

  box-shadow:
    inset 0 1px 2px rgba(255,255,255,0.05),
    0 4px 12px rgba(0,0,0,0.2);

  transition: 0.2s ease;
}

.glass-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.glass-input:focus {
  border-color: rgba(255, 255, 255, 0.35);

  box-shadow:
    0 0 0 3px rgba(255,255,255,0.08),
    0 6px 16px rgba(0,0,0,0.25);
}

.edit-field input {
  margin-bottom: 1rem;

}

.board {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

  align-items: flex-start;
}

.column {
  width: 380px;
  border-radius: 16px;
  padding: 1rem;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

h3 {
  text-align: center;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.description {
  opacity: 0.85;
  margin-bottom: 1rem;
}

.date {
  font-size: 0.85rem;
  opacity: 0.7;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  min-height: 90px;

  resize: vertical;

  padding: 1rem;

  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.15);

  background: rgba(255,255,255,0.08);

  color: white;

  margin-top: 1rem;
}

/* TODO CARD */
.todo-card {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;

  box-shadow:
    0 6px 15px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  transition: all 0.2s ease;
}

.todo-card:hover {
  transform: translateY(-4px);
  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

button {
  margin-right: 0.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #e1880c;
  color: white;
  font-weight: 500;

  transition: 0.2s;
}

button:hover {
  background: #ffa600;
}

.done-btn {
  background: #1faa59;
}

.done-btn:hover {
  background: #28c76f;
}

.delete-btn {
  background: #d63031;
}

.delete-btn:hover {
  background: #ff4d4f;
}

.edit-btn {
  background: #3498db;
}

.edit-btn:hover {
  background: #4aa8e8;
}

.cdk-drag-preview {
  border-radius: 14px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.35);

  transform: rotate(2deg);

  opacity: 0.95;
}

.cdk-drag-placeholder {
  opacity: 0.25;
}

.cdk-drop-list-dragging .todo-card {
  transition: transform 0.2s;
}

.column.cdk-drop-list-receiving {
  outline: 2px dashed rgba(255,255,255,0.3);
}

.auth-warning {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}