.home-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 2rem 8rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: 400;
  opacity: 0.9;
}

p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

button {
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #e1880c;
  color: white;
  font-weight: 500;

  transition: 0.2s;
}

button:hover {
  background: #ffa600;
}

.catone {
  position: fixed;
  top: 160px;
  width: 64px;
  height: 64px;

  background-repeat: no-repeat;
  pointer-events: none;
}

.cattwo {
  position: fixed;
  top: 380px;
  width: 64px;
  height: 64px;

  background-repeat: no-repeat;
  pointer-events: none;
}

.run-cat {
  background-image: url('../../../../public/catrun.png');

  animation:
    runFrames 0.7s steps(7) infinite,
    moveAcross 10s linear infinite;
}
.walk-cat {
  background-image: url('../../../../public/catwalk2.png');

  animation:
    walkFrames 0.7s steps(7) infinite,
    moveAcross 14s linear infinite;
}

.small-cat {
  position: fixed;
  bottom: 10px;
  left: -50px;

  width: 48px;
  height: 45px;

  background-image: url('../../../../public/catwalk.png');
  background-size: 384px 45px;

  background-repeat: no-repeat;

  image-rendering: pixelated;

  overflow: hidden;

  animation:
    smallCatWalk 0.8s steps(8) infinite,
    moveSmallCat 18s linear infinite;
}

@keyframes runFrames {
  from { background-position: 0 0; }
  to { background-position: -448px 0; }
}

@keyframes walkFrames {
  from { background-position: 0 0; }
  to { background-position: -448px 0; }
}
@keyframes smallCatWalk {
  from { background-position: 0 0; }
  to { background-position: -384px 0; }
}

@keyframes moveAcross {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(120vw);
  }
}
@keyframes moveSmallCat {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(120vw);
  }
}