.home-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 2rem 8rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: 400;
  opacity: 0.9;
}

p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

button {
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #e1880c;
  color: white;
  font-weight: 500;

  transition: 0.2s;
}

button:hover {
  background: #ffa600;
}