.navbar {
  position: sticky;
  top: 0;
  left: 0;

  height: 60px;
  width: 100%;
  z-index: 9999;

  background-color: #1e1e1e;
  color: white;

  display: flex;
  align-items: center;

  padding: 0 20px;

  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);

  box-sizing: border-box;
}

.navbar-left .logo {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: none;
  padding: 0;
  flex: 0 0 auto;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 10px;
}

.navbar-right {
  flex: 0 0 auto;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

button {
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #e1880c;
  color: white;
  font-weight: 500;

  transition: 0.2s;
}

button:hover {
  background: #ffa600;
}

.user-email {
  margin-top: 0.2rem;
}